In [14]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import catboost as cb
from sklearn.metrics import mean_squared_log_error, mean_squared_error
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import MinMaxScaler
import xlsxwriter 


import lightgbm as lgb
from lightgbm import LGBMModel,LGBMClassifier
from sklearn import metrics

from sklearn.svm import SVC

from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

from catboost import CatBoostClassifier

from sklearn.metrics import log_loss

In [15]:
train = pd.read_csv("Train.csv")
test= pd.read_csv("Test.csv")
train.head()

,City,Location_Score,Internal_Audit_Score,External_Audit_Score,Fin_Score,Loss_score,Past_Results,IsUnderRisk
0,2,8.032,14,8,3,6,0,1
1,31,77.730,8,3,3,8,1,0
2,40,59.203,3,12,11,3,0,1
3,12,73.080,4,5,7,6,0,0
4,4,15.666,13,15,6,7,2,1

In [16]:
train_data=train.drop(columns=['IsUnderRisk'])
train_label=train['IsUnderRisk']

In [17]:
test_data=test
test_data.head()

,City,Location_Score,Internal_Audit_Score,External_Audit_Score,Fin_Score,Loss_score,Past_Results
0,41,18.272,13,12,9,7,0
1,17,64.799,6,10,7,4,1
2,31,68.890,3,3,7,8,0
3,3,16.492,15,10,7,4,1
4,9,17.178,7,3,8,3,1

In [18]:

train.IsUnderRisk.value_counts()

1    340
0    203
Name: IsUnderRisk, dtype: int64

In [19]:
train_label.value_counts() / train_label.shape[0]

1    0.626151
0    0.373849
Name: IsUnderRisk, dtype: float64

In [20]:
train_data.describe()

,City,Location_Score,Internal_Audit_Score,External_Audit_Score,Fin_Score,Loss_score,Past_Results
count,543.000000,543.000000,543.000000,543.000000,543.000000,543.000000,543.000000
mean,19.576427,32.259346,8.189687,7.327808,7.046041,5.530387,0.613260
std,14.722687,24.887291,3.312022,3.450667,3.156978,1.839124,0.764509
min,0.000000,5.185000,3.000000,3.000000,3.000000,3.000000,0.000000
25%,6.000000,13.565000,6.000000,5.000000,5.000000,4.000000,0.000000
50%,14.000000,19.803000,8.000000,7.000000,7.000000,6.000000,1.000000
75%,37.000000,62.594000,11.000000,10.000000,8.000000,7.000000,1.000000
max,44.000000,80.809000,15.000000,15.000000,15.000000,13.000000,10.000000

In [21]:

train.nunique()

City                     43
Location_Score          540
Internal_Audit_Score     13
External_Audit_Score     13
Fin_Score                13
Loss_score               10
Past_Results              7
IsUnderRisk               2
dtype: int64

In [22]:
test.nunique()

City                     34
Location_Score          233
Internal_Audit_Score     13
External_Audit_Score     13
Fin_Score                13
Loss_score                7
Past_Results              5
dtype: int64

In [23]:
print(train.isnull().sum().sum())
print(test.isnull().sum().sum())

0
0

In [24]:
#scaler = MinMaxScaler()
#scaler.fit(train_data)

#train_data=(scaler.transform(train_data))

In [25]:
#scaler = MinMaxScaler()
#scaler.fit(test_data)

#test_data=(scaler.transform(test_data))

In [26]:
#catboost
features1 = ['City','Location_Score','Internal_Audit_Score','External_Audit_Score','Fin_Score','Loss_score','Past_Results']
    
cat_ind=['City','Internal_Audit_Score','External_Audit_Score','Fin_Score','Loss_score','Past_Results']
    
x_train, x_val, y_train, y_val = train_test_split(train_data[features1], train_label, test_size=0.1, random_state=42)
cat_rg1 = cb.CatBoostClassifier(iterations=80, learning_rate=0.06, depth=8, l2_leaf_reg=12)


cat_rg1.fit(x_train, y_train ,  cat_features=cat_ind,  eval_set=(x_val, y_val), verbose=True)

0:	learn: 0.6792702	test: 0.6784390	best: 0.6784390 (0)	total: 198ms	remaining: 15.7s
1:	learn: 0.6669656	test: 0.6646695	best: 0.6646695 (1)	total: 207ms	remaining: 8.09s
2:	learn: 0.6523801	test: 0.6483951	best: 0.6483951 (2)	total: 217ms	remaining: 5.56s
3:	learn: 0.6379281	test: 0.6325044	best: 0.6325044 (3)	total: 221ms	remaining: 4.19s
4:	learn: 0.6256483	test: 0.6184724	best: 0.6184724 (4)	total: 224ms	remaining: 3.36s
5:	learn: 0.6120988	test: 0.6033359	best: 0.6033359 (5)	total: 227ms	remaining: 2.8s
6:	learn: 0.6026790	test: 0.5931575	best: 0.5931575 (6)	total: 236ms	remaining: 2.46s
7:	learn: 0.5909280	test: 0.5810595	best: 0.5810595 (7)	total: 239ms	remaining: 2.15s
8:	learn: 0.5807613	test: 0.5690908	best: 0.5690908 (8)	total: 244ms	remaining: 1.93s
9:	learn: 0.5734224	test: 0.5599268	best: 0.5599268 (9)	total: 252ms	remaining: 1.76s
10:	learn: 0.5636021	test: 0.5493469	best: 0.5493469 (10)	total: 255ms	remaining: 1.6s
11:	learn: 0.5559996	test: 0.5420567	best: 0.5420567 (11)	total: 261ms	remaining: 1.48s
12:	learn: 0.5484979	test: 0.5330971	best: 0.5330971 (12)	total: 265ms	remaining: 1.37s
13:	learn: 0.5425897	test: 0.5270029	best: 0.5270029 (13)	total: 271ms	remaining: 1.28s
14:	learn: 0.5348746	test: 0.5185745	best: 0.5185745 (14)	total: 275ms	remaining: 1.19s
15:	learn: 0.5269473	test: 0.5115474	best: 0.5115474 (15)	total: 277ms	remaining: 1.11s
16:	learn: 0.5217276	test: 0.5069397	best: 0.5069397 (16)	total: 283ms	remaining: 1.05s
17:	learn: 0.5163084	test: 0.5021231	best: 0.5021231 (17)	total: 289ms	remaining: 996ms
18:	learn: 0.5112748	test: 0.4959615	best: 0.4959615 (18)	total: 296ms	remaining: 951ms
19:	learn: 0.5075042	test: 0.4925584	best: 0.4925584 (19)	total: 302ms	remaining: 907ms
20:	learn: 0.5038237	test: 0.4888131	best: 0.4888131 (20)	total: 312ms	remaining: 878ms
21:	learn: 0.4979030	test: 0.4809675	best: 0.4809675 (21)	total: 316ms	remaining: 832ms
22:	learn: 0.4945630	test: 0.4773950	best: 0.4773950 (22)	total: 321ms	remaining: 795ms
23:	learn: 0.4890406	test: 0.4709852	best: 0.4709852 (23)	total: 325ms	remaining: 758ms
24:	learn: 0.4840513	test: 0.4668958	best: 0.4668958 (24)	total: 327ms	remaining: 720ms
25:	learn: 0.4807186	test: 0.4625599	best: 0.4625599 (25)	total: 332ms	remaining: 689ms
26:	learn: 0.4769856	test: 0.4578248	best: 0.4578248 (26)	total: 338ms	remaining: 663ms
27:	learn: 0.4722893	test: 0.4525991	best: 0.4525991 (27)	total: 353ms	remaining: 655ms
28:	learn: 0.4681932	test: 0.4479608	best: 0.4479608 (28)	total: 370ms	remaining: 651ms
29:	learn: 0.4648390	test: 0.4439435	best: 0.4439435 (29)	total: 386ms	remaining: 644ms
30:	learn: 0.4614145	test: 0.4400593	best: 0.4400593 (30)	total: 394ms	remaining: 622ms
31:	learn: 0.4581338	test: 0.4362355	best: 0.4362355 (31)	total: 400ms	remaining: 601ms
32:	learn: 0.4543903	test: 0.4320764	best: 0.4320764 (32)	total: 404ms	remaining: 576ms
33:	learn: 0.4507406	test: 0.4281389	best: 0.4281389 (33)	total: 408ms	remaining: 552ms
34:	learn: 0.4477656	test: 0.4242356	best: 0.4242356 (34)	total: 412ms	remaining: 530ms
35:	learn: 0.4455066	test: 0.4224691	best: 0.4224691 (35)	total: 419ms	remaining: 512ms
36:	learn: 0.4421352	test: 0.4186226	best: 0.4186226 (36)	total: 426ms	remaining: 495ms
37:	learn: 0.4383742	test: 0.4142933	best: 0.4142933 (37)	total: 428ms	remaining: 473ms
38:	learn: 0.4363880	test: 0.4120673	best: 0.4120673 (38)	total: 435ms	remaining: 457ms
39:	learn: 0.4337198	test: 0.4088799	best: 0.4088799 (39)	total: 440ms	remaining: 440ms
40:	learn: 0.4317342	test: 0.4077960	best: 0.4077960 (40)	total: 446ms	remaining: 425ms
41:	learn: 0.4295089	test: 0.4048037	best: 0.4048037 (41)	total: 453ms	remaining: 410ms
42:	learn: 0.4274206	test: 0.4025900	best: 0.4025900 (42)	total: 459ms	remaining: 395ms
43:	learn: 0.4247002	test: 0.3994723	best: 0.3994723 (43)	total: 463ms	remaining: 378ms
44:	learn: 0.4219515	test: 0.3965390	best: 0.3965390 (44)	total: 466ms	remaining: 362ms
45:	learn: 0.4201367	test: 0.3939681	best: 0.3939681 (45)	total: 471ms	remaining: 348ms
46:	learn: 0.4186427	test: 0.3920704	best: 0.3920704 (46)	total: 477ms	remaining: 335ms
47:	learn: 0.4164390	test: 0.3894334	best: 0.3894334 (47)	total: 488ms	remaining: 326ms
48:	learn: 0.4144861	test: 0.3872251	best: 0.3872251 (48)	total: 496ms	remaining: 314ms
49:	learn: 0.4130474	test: 0.3857763	best: 0.3857763 (49)	total: 501ms	remaining: 301ms
50:	learn: 0.4110411	test: 0.3827866	best: 0.3827866 (50)	total: 509ms	remaining: 289ms
51:	learn: 0.4093984	test: 0.3811382	best: 0.3811382 (51)	total: 515ms	remaining: 277ms
52:	learn: 0.4073535	test: 0.3780561	best: 0.3780561 (52)	total: 518ms	remaining: 264ms
53:	learn: 0.4056633	test: 0.3765546	best: 0.3765546 (53)	total: 522ms	remaining: 251ms
54:	learn: 0.4041976	test: 0.3747487	best: 0.3747487 (54)	total: 526ms	remaining: 239ms
55:	learn: 0.4026463	test: 0.3730250	best: 0.3730250 (55)	total: 542ms	remaining: 232ms
56:	learn: 0.4013571	test: 0.3713052	best: 0.3713052 (56)	total: 549ms	remaining: 222ms
57:	learn: 0.4000679	test: 0.3697178	best: 0.3697178 (57)	total: 556ms	remaining: 211ms
58:	learn: 0.3982839	test: 0.3674903	best: 0.3674903 (58)	total: 560ms	remaining: 199ms
59:	learn: 0.3966389	test: 0.3660614	best: 0.3660614 (59)	total: 567ms	remaining: 189ms
60:	learn: 0.3955004	test: 0.3644169	best: 0.3644169 (60)	total: 571ms	remaining: 178ms
61:	learn: 0.3939215	test: 0.3626320	best: 0.3626320 (61)	total: 577ms	remaining: 167ms
62:	learn: 0.3923202	test: 0.3607231	best: 0.3607231 (62)	total: 580ms	remaining: 157ms
63:	learn: 0.3910520	test: 0.3592585	best: 0.3592585 (63)	total: 586ms	remaining: 147ms
64:	learn: 0.3896208	test: 0.3575045	best: 0.3575045 (64)	total: 592ms	remaining: 137ms
65:	learn: 0.3884578	test: 0.3567994	best: 0.3567994 (65)	total: 598ms	remaining: 127ms
66:	learn: 0.3874293	test: 0.3554176	best: 0.3554176 (66)	total: 604ms	remaining: 117ms
67:	learn: 0.3864991	test: 0.3541756	best: 0.3541756 (67)	total: 611ms	remaining: 108ms
68:	learn: 0.3854338	test: 0.3532839	best: 0.3532839 (68)	total: 617ms	remaining: 98.3ms
69:	learn: 0.3837675	test: 0.3515338	best: 0.3515338 (69)	total: 620ms	remaining: 88.6ms
70:	learn: 0.3823673	test: 0.3497847	best: 0.3497847 (70)	total: 622ms	remaining: 78.8ms
71:	learn: 0.3810281	test: 0.3485669	best: 0.3485669 (71)	total: 626ms	remaining: 69.6ms
72:	learn: 0.3799567	test: 0.3472284	best: 0.3472284 (72)	total: 632ms	remaining: 60.6ms
73:	learn: 0.3791823	test: 0.3465751	best: 0.3465751 (73)	total: 638ms	remaining: 51.7ms
74:	learn: 0.3780617	test: 0.3455125	best: 0.3455125 (74)	total: 645ms	remaining: 43ms
75:	learn: 0.3767161	test: 0.3436491	best: 0.3436491 (75)	total: 653ms	remaining: 34.4ms
76:	learn: 0.3759230	test: 0.3430568	best: 0.3430568 (76)	total: 660ms	remaining: 25.7ms
77:	learn: 0.3749293	test: 0.3413656	best: 0.3413656 (77)	total: 667ms	remaining: 17.1ms
78:	learn: 0.3735466	test: 0.3398695	best: 0.3398695 (78)	total: 672ms	remaining: 8.51ms
79:	learn: 0.3726155	test: 0.3388484	best: 0.3388484 (79)	total: 679ms	remaining: 0us

bestTest = 0.3388484155
bestIteration = 79

In [27]:
pred1_prob = cat_rg1.predict_proba(test_data[features1],verbose=True)
print(pred1_prob.shape)

(233, 2)

In [28]:
df2 = pd.DataFrame(pred1_prob,columns=['0','1'])
sub_df = df2
sub_df.to_excel('submission.xlsx', engine='xlsxwriter',index=False)