In [24]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import catboost as cb
from sklearn.metrics import mean_squared_log_error, mean_squared_error
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import MinMaxScaler
import xlsxwriter 


import lightgbm as lgb
from lightgbm import LGBMModel,LGBMClassifier
from sklearn import metrics

from sklearn.svm import SVC

from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

from catboost import CatBoostClassifier

from sklearn.metrics import log_loss

In [25]:
train = pd.read_csv("Train.csv")
test= pd.read_csv("Test.csv")
train.head()

,City,Location_Score,Internal_Audit_Score,External_Audit_Score,Fin_Score,Loss_score,Past_Results,IsUnderRisk
0,2,8.032,14,8,3,6,0,1
1,31,77.730,8,3,3,8,1,0
2,40,59.203,3,12,11,3,0,1
3,12,73.080,4,5,7,6,0,0
4,4,15.666,13,15,6,7,2,1

In [26]:
train_data=train.drop(columns=['IsUnderRisk'])
train_label=train['IsUnderRisk']

In [27]:
test_data=test
test_data.head()

,City,Location_Score,Internal_Audit_Score,External_Audit_Score,Fin_Score,Loss_score,Past_Results
0,41,18.272,13,12,9,7,0
1,17,64.799,6,10,7,4,1
2,31,68.890,3,3,7,8,0
3,3,16.492,15,10,7,4,1
4,9,17.178,7,3,8,3,1

In [28]:

train.IsUnderRisk.value_counts()

1    340
0    203
Name: IsUnderRisk, dtype: int64

In [29]:
train_label.value_counts() / train_label.shape[0]

1    0.626151
0    0.373849
Name: IsUnderRisk, dtype: float64

In [30]:
train_data.describe()

,City,Location_Score,Internal_Audit_Score,External_Audit_Score,Fin_Score,Loss_score,Past_Results
count,543.000000,543.000000,543.000000,543.000000,543.000000,543.000000,543.000000
mean,19.576427,32.259346,8.189687,7.327808,7.046041,5.530387,0.613260
std,14.722687,24.887291,3.312022,3.450667,3.156978,1.839124,0.764509
min,0.000000,5.185000,3.000000,3.000000,3.000000,3.000000,0.000000
25%,6.000000,13.565000,6.000000,5.000000,5.000000,4.000000,0.000000
50%,14.000000,19.803000,8.000000,7.000000,7.000000,6.000000,1.000000
75%,37.000000,62.594000,11.000000,10.000000,8.000000,7.000000,1.000000
max,44.000000,80.809000,15.000000,15.000000,15.000000,13.000000,10.000000

In [31]:

train.nunique()

City                     43
Location_Score          540
Internal_Audit_Score     13
External_Audit_Score     13
Fin_Score                13
Loss_score               10
Past_Results              7
IsUnderRisk               2
dtype: int64

In [32]:
test.nunique()

City                     34
Location_Score          233
Internal_Audit_Score     13
External_Audit_Score     13
Fin_Score                13
Loss_score                7
Past_Results              5
dtype: int64

In [33]:
print(train.isnull().sum().sum())
print(test.isnull().sum().sum())

0
0

In [34]:
scaler = MinMaxScaler()
scaler.fit(train_data)

train_data=(scaler.transform(train_data))

In [35]:
scaler = MinMaxScaler()
scaler.fit(test_data)

test_data=(scaler.transform(test_data))

In [36]:
train_data1, train_data2, train_label1, train_label2 = train_test_split(train_data, train_label, test_size=0.1)

In [37]:
model = XGBClassifier(learning_rate = 0.07, n_estimators=3000, max_depth=8)
model.fit(train_data, train_label)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.07, max_delta_step=0, max_depth=8,
              min_child_weight=1, missing=None, n_estimators=3000, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [38]:
#kfold = KFold(n_splits=10, random_state=7)
#results = cross_val_score(model, train_data, train_label, cv=kfold)

In [39]:
model.fit(train_data, train_label)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.07, max_delta_step=0, max_depth=8,
              min_child_weight=1, missing=None, n_estimators=3000, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [40]:
predicted = model.predict(train_data2)
results = confusion_matrix(train_label2, predicted)
print(results)

[[18  0]
 [ 0 37]]

In [41]:
print(classification_report(train_label2, predicted))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        18
           1       1.00      1.00      1.00        37

    accuracy                           1.00        55
   macro avg       1.00      1.00      1.00        55
weighted avg       1.00      1.00      1.00        55

In [42]:

pred1 = model.predict(test_data)

In [43]:
print(pred1)
print(pred1.shape)

[1 1 0 1 1 0 0 0 1 1 1 0 1 1 1 1 1 1 1 1 0 0 1 0 0 1 1 1 1 0 0 1 1 1 1 0 1
 0 0 1 1 0 0 0 1 0 0 1 1 1 1 1 0 1 1 0 1 1 0 1 0 0 1 1 1 1 1 0 1 0 0 1 1 1
 0 1 1 1 0 1 1 1 1 1 0 0 1 1 0 1 1 1 1 0 1 1 0 1 1 1 0 1 1 1 0 1 0 1 0 1 0
 1 1 0 0 1 1 1 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1 0 0 1 1 1
 1 1 1 0 0 0 1 0 1 1 1 1 1 0 0 0 1 1 0 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 0 0
 0 1 1 1 1 0 0 1 1 1 1 0 1 1 0 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 0 1 1 0 0 1
 0 1 1 1 0 1 0 1 0 1 0]
(233,)

In [44]:
pred1_prob=model.predict_proba(test_data)
print(pred1_prob.shape)

(233, 2)

In [45]:
#count=0;
#for i in (test_data['LengthOFFirstParagraph']):
#    count=count+1;
#    if (i>2): 
#        df2.loc[count-1]=1;

In [46]:
df2 = pd.DataFrame(pred1_prob,columns=['0','1'])
sub_df = df2
sub_df.to_excel('submission.xlsx', engine='xlsxwriter',index=False)